sudo: required
language: c

service:
    - mysql

matrix:
    include:
        - env:
             - JUSTMYSQL=true
        - addons:
             mariadb: 5.5
        - addons:
             mariadb: 10.0
        - addons:
             mariadb: 10.1

before_install:
    - if [ -n "${JUSTMYSQL}" ]; then
          sudo apt-get update;
      fi
    - sudo apt-get install gnutls-bin
    - sudo install --owner mysql -d /etc/mysql/ssl
    - sudo install --owner mysql -t /etc/mysql/ssl Makefile *.tmpl
    - sudo install -t /etc/mysql/conf.d ssl.cnf

install:
    - pushd /etc/mysql/ssl && sudo -u mysql make
    - find /etc/mysql -ls
    - cat /etc/mysql/my.cnf
    - date
    - openssl x509 -in /etc/mysql/ssl/client.crt -issuer -subject -noout
    - certtool  -i  --infile /etc/mysql/ssl/client.crt
    - sudo service mysql restart
    - popd
    - sudo cat /var/log/syslog
    - mysql -u root < grant.sql
    - mysql -u root -e "set global log_warnings=2"

script:
    - mysql --defaults-group-suffix=.ssl -e "\sselect current_user(),user();show grants"
    - mysql --ssl --ssl-verify-server-cert --ssl-ca /etc/mysql/ssl/ca.crt --ssl-key=/etc/mysql/ssl/client.key --ssl-cert=/etc/mysql/ssl/client.crt --user=travis_ssl -ppass -e "\sselect current_user(),user();show grants"

after_failure:
    - sudo cat /var/log/syslog
