sudo: required
language: c

service:
    - mysql

matrix:
    include:
        - env:
             - JUSTMSQL=true
        - addons:
             mariadb: 5.5
        - addons:
             mariadb: 10.0
        - addons:
             mariadb: 10.1

before_install:
    - sudo apt-get install gnutls-bin
    - sudo install --owner travis -d /etc/mysql/ssl
    - sudo install --owner travis -t /etc/mysql/ssl Makefile
    - sudo install -t /etc/mysql/conf.d ssl.cnf

install:
    - find /etc/mysql -ls
    - pushd /etc/mysql/ssl && make
    - sudo service mysql restart
    - popd
    - mysql -u root < grant.sql

script:
    - mysql --defaults-group-suffix=.ssh -e "show global status like '%ssl'"
