sudo: required
language: c

service:
    - mysql

matrix:
    include:
        - env:
             - JUSTMYSQL=true
        - addons:
             mariadb: 5.5
        - addons:
             mariadb: 10.0
        - addons:
             mariadb: 10.1

before_install:
    - if [ -n "${JUSTMYSQL}" ]; then
          sudo apt-get update;
      fi
    - sudo apt-get install gnutls-bin
    - sudo install --owner ${USER} -d /etc/mysql/ssl
    - sudo install --owner ${USER} -t /etc/mysql/ssl Makefile *.tmpl
    - sudo install -t /etc/mysql/conf.d ssl.cnf

install:
    - find /etc/mysql -ls
    - pushd /etc/mysql/ssl && make
    - find /etc/mysql -ls
    - cat /etc/mysql/my.cnf
    - openssl x509 -in /etc/mysql/ssl/client.crt -issuer -subject -noout
    - sudo service mysql restart
    - popd
    - sudo cat /var/log/syslog
    - mysql -u root < grant.sql

script:
    - mysql --defaults-group-suffix=.ssl -e "show global status like '%ssl'"
    - mysql --defaults-group-suffix=.ssl -e "\s"
    - mysql --defaults-group-suffix=.ssl -u travis_ssl_i -e "\s"
    - mysql --defaults-group-suffix=.ssl -u travis_ssl_s -e "\s"
    - mysql --ssl-ca /etc/mysql/ssl/ca.crt --ssl-key=/etc/mysql/ssl/client.key --ssl-cert=/etc/mysql/ssl/client.crt --user=travis_ssl -ptravis_ssl -e "\s"

after_failure:
    - sudo cat /var/log/syslog
