organization = "Travis"

# The organizational unit of the subject.
#unit = "sleeping dept."

# The state of the certificate owner.
#state = "XX"

# The country of the subject. Two letter code.
#country = XX

# The common name of the certificate owner.
cn = "Travis MySQL client"

# A user id of the certificate owner.
#uid = "scertowner"

# The serial number of the certificate. Should be incremented each time a new certificate is generated.
serial = 009

activation_date = "2004-02-29 16:21:42"
expiration_date = "2032-02-28 16:24:41"

# X.509 v3 extensions

tls_www_server
tls_www_client

